<section id="showcase mb-5">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item carousel-image-1 active">
        <div class="container">
          <div class="carousel-caption d-sm-block text-right mb-5">
            <h1 class="display-3 font-italic">Fit Smart</h1>
            <p class="lead font-italic">トレーニングの内容や詳細を記録・シェアすることができます</p>
            <%= link_to "今すぐサインアップ！", signup_path, class: "btn btn-danger btn-lg font-italic" %>
            <%= form_for(:session, url: login_path) do |f| %>
              <%= f.hidden_field :email, :value => 'guest1234@gmail.com' %>
              <%= f.hidden_field :password, :value => 'password' %>
              <%= f.submit "ゲストログイン", class: "btn btn-success btn-lg font-italic mt-3" %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="carousel-item carousel-image-2">
        <div class="container">
          <div class="carousel-caption d-sm-block mb-5">
            <h1 class="display-3 font-italic">Fit Smart</h1>
            <p class="lead font-italic">サボりがちになっていませんか？<br>今日からあなたのトレーニングを管理しましょう！</p>
            <%= link_to "今すぐサインアップ！", signup_path, class: "btn btn-danger btn-lg font-italic" %>
            <%= form_for(:session, url: login_path) do |f| %>
              <%= f.hidden_field :email, :value => 'guest1234@gmail.com' %>
              <%= f.hidden_field :password, :value => 'password' %>
              <%= f.submit "ゲストログイン", class: "btn btn-success btn-lg font-italic mt-3" %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="carousel-item carousel-image-3">
        <div class="container">
          <div class="carousel-caption d-sm-block mb-5 text-right">
            <h1 class="display-3 font-italic">Fit Smart</h1>
            <p class="lead font-italic">一緒に筋トレをしましょう！</p>
            <%= link_to "今すぐサインアップ！", signup_path, class: "btn btn-danger btn-lg font-italic" %>
            <%= form_for(:session, url: login_path) do |f| %>
              <%= f.hidden_field :email, :value => 'guest1234@gmail.com' %>
              <%= f.hidden_field :password, :value => 'password' %>
              <%= f.submit "ゲストログイン", class: "btn btn-success btn-lg font-italic mt-3" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
      <span class="carousel-control-prev-icon"></span>
    </a>

    <a href="#myCarousel" data-slide="next" class="carousel-control-next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</section>

<div class="border-bottom pt-5"></div>

<div class="modal-content mt-5 mb-5 phone-show">
  <div class="modal-header">
    <h5 class="modal-title　font-weight-bold h3" id="exampleModalLabel">Fit Smartとは？</h5>
  </div>
  <div class="modal-body">
    <p class="font-weight-bold text-danger text-center mb-5 h3">トレーニング内容を記録、シェアできるアプリです！</p>
    <p class="font-weight-bold text-center h4 mt-4 mb-5">投稿例</p>
    <%= image_tag 'demo.png', class: "img-full full-width" %>
  </div>
  <% unless logged_in? %>
    <div class="modal-footer">
      <%= form_for(:session, url: login_path) do |f| %>
        <%= f.hidden_field :email, :value => 'guest1234@gmail.com' %>
        <%= f.hidden_field :password, :value => 'password' %>
        <%= f.submit "ゲストログイン", class: "btn btn-success font-italic text-left btn-sm" %>
      <% end %>
      <%= link_to "サインアップ", signup_path, class: "btn btn-primary text-left btn-sm" %>
      <%= link_to "ログイン", login_path, class: "btn btn-success text-left btn-sm" %>
    </div>
  <% end %>
</div>




