<% provide(:title, "投稿一覧") %>
<% if logged_in? %>
  <h1 class="h2 text-center pb-5 mt-3 font-italic">投稿一覧</h1>
    <% @feed_items.each do |micropost| %>
      <% if micropost.user.released? || current_user?(micropost.user) || current_user.admin? %>
        <div class="card mb-5">
          <div class="card-header">
            <% if micropost.user.image? %>
              <img src='<%= micropost.user.image %>' class="icon icon-small"><span class="h4 ml-3 align-middle"><%= link_to micropost.user.name, user_path(micropost.user), class: "text-muted" %></span>
            <% else %>
              <%= image_tag 'default.jpeg', class: "icon icon-small" %><span class="h4 ml-3 pt-2 align-middle"><%= link_to micropost.user.name, user_path(micropost.user), class: "text-muted" %></span>
            <% end %>
          </div>
          <div class="card-body post-paper">
            <% if micropost.picture? %>
              <img src='<%= micropost.picture %>' class="card-img-top img-full pull-right mb-5">
            <% end %>
            <span class="font-weight-bold border-bottom">タイトル</span>
            <p class="card-title h4 font-weight-bold mb-4 text-danger"><%= micropost.title if micropost.title? %></p>
            <span class="font-weight-bold border-bottom">振り返り</span>
            <span class="card-text bg-muted"><%= simple_format(micropost.content) %></span>
            <div class="mt-2">
              <span class="font-weight-bold border-bottom">今日のトレーニング</span>
              <% micropost.records.each do |record| %>
                <p class="mt-3"><span class="text-primary font-weight-bold font-italic"><%= Exercise.find(record.exercise_id).name %></span>：<span class="font-weight-bold font-italic"><%= record.weight %></span>キロ × <span class="font-weight-bold font-italic"><%= record.sets %></span>セット × <span class="font-weight-bold font-italic"><%= record.times %></span>回</p>
              <% end %>
            </div>
            <ol id="micropost-<%= micropost.id %>" data-micropost-id="<%= micropost.id %>" class="text-right mb-0 mt-0">
              <%= render "likes/like", micropost: micropost %>
            </ol>
          </div>
          <div class="card-footer text-right">
            <% if current_user?(micropost.user) || current_user.admin? %>
              <%= link_to "投稿を削除する", micropost, method: :delete, data: { confirm: "本当に削除してよろしいですか？" }, class: "btn btn-primary float-left" %>
            <% end %>
            <small class="text-muted"><%= time_ago_in_words(micropost.created_at) %>前</small>
          </div>
        </div>
      <% end %>
    <% end %>
  <% if @feed_items.empty? %>
    <p class="text-center">投稿はありません</p>
  <% end %>
  <div class="text-center"><%= will_paginate(@feed_items) %></div>
<% else %>
  <div class="center jumbotron">
    <h1>ログインしていない時〜！</h1>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
