<% provide(:title, 'グラフ | ' + @user.name + 'さん'  ) %>
<h1 class="display-5 text-center pb-5 mt-3">
  <% if @user.image? %>
    <img src='<%= @user.image %>' class="icon"><span class="h2 ml-3 align-middle"><%= @user.name %></span><span class="ml-4 font-small text-muted">さんの</span><span class="font-small-2">種目別トレーニング一覧</span>
  <% else %>
    <%= image_tag 'default.jpeg' %><span class="h2 ml-3 align-middle"><%= @user.name %></span><span class="ml-4 font-small text-muted">さんの</span><br><span class="font-small-2 ml-2 font-italic">種目別トレーニング一覧</span>
  <% end %>
</h1>

<% if @user.released? || current_user?(@user) || current_user.admin? %>
  <%= render 'users/chart', object: sr(@exercise1) unless @exercise1.empty? %>
  <%= render 'users/chart', object: sr(@exercise2) unless @exercise2.empty? %>
  <%= render 'users/chart', object: sr(@exercise3) unless @exercise3.empty? %>
  <%= render 'users/chart', object: sr(@exercise4) unless @exercise4.empty? %>
  <%= render 'users/chart', object: sr(@exercise5) unless @exercise5.empty? %>
  <%= render 'users/chart', object: sr(@exercise6) unless @exercise6.empty? %>
  <%= render 'users/chart', object: sr(@exercise7) unless @exercise7.empty? %>
  <%= render 'users/chart', object: sr(@exercise8) unless @exercise8.empty? %>

<% else %>
  <p class="text-center">このアカウントは非公開です</p>
<% end %>






