<% provide(:title, "マイアカウントの編集") %>
<h1 class="h2 text-center pb-3 mt-3 font-italic">マイアカウントの編集</h1>
<div class="form mb-5">
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <%= f.label :name, "ユーザーネーム" %>
      <%= f.text_field :name, class: "form-control post-paper", placeholder: "ユーザーネームを入力してください" %>
    </div>
    <div class="form-group">
      <%= f.label :email, "Eメール" %>
      <%= f.text_field :email, class: "form-control post-paper", placeholder: "Eメールを入力してください" %>
    </div>
    <div class="form-group">
      <label for="exampleFormControlFile1">アイコン画像</label>
      <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', class: "form-control-file" %>
    </div>
    <div class="field form-group">
      <div><%= f.label :sex %></div>
      <div class="radio-inline">
        <%= f.radio_button :sex, :man, checked: "checked" %>
        <%= f.label :男性 %>
      </div>
      <div class="radio-inline">
        <%= f.radio_button :sex, :woman %>
        <%= f.label :女性 %>
      </div>
      <div class="radio-inline">
        <%= f.radio_button :sex, :unanswered %>
        <%= f.label :回答しない %>
      </div>
    </div>
    <div class="field form-group">
      <div><%= f.label :status %></div>
      <% if @user.status == 0 %>
        <div class="radio-inline">
          <%= f.radio_button :status, :unreleased %>
          <%= f.label :非公開 %>
        </div>
        <div class="radio-inline">
          <%= f.radio_button :status, :released, checked: "checked" %>
          <%= f.label :公開 %>
        </div>
        <small id="emailHelp" class="form-text text-muted">※非公開にされる場合、他のユーザー様があなたの投稿を閲覧できなくなります</small>
      <% else %>
        <div class="radio-inline">
          <%= f.radio_button :status, :nonreleased, checked: "checked" %>
          <%= f.label :非公開 %>
        </div>
        <div class="radio-inline">
          <%= f.radio_button :status, :released %>
          <%= f.label :公開 %>
        </div>
        <small id="emailHelp" class="form-text text-muted">※非公開にされる場合、他のユーザー様があなたの投稿を閲覧できなくなります</small>
      <% end %>
    </div>
    <br>
    <%= f.submit "アカウント情報を更新する", class: "btn btn-primary btn-block text-light" %>
  <% end %>
</div>