<% provide(:title, '全てのユーザー') %>
<h1 class="h2 text-center pb-3 mt-3 font-italic">全てのユーザー</h1>

<div class="mb-5">
  <div class="search_form">
    <%= search_form_for @q do |f| %>
      <%= f.label :name_cont, 'ユーザーの検索' %>
      <div class="input-group">
        <%= f.text_field :name_cont, placeholder: "ユーザーネームを入力してください",
                         class: 'form-control' %>
        <span class="input-group-btn">
         <%= f.submit '検索', class: "btn btn-primary" %>
        </span>
      </div>
    <% end %>
  </div>
</div>

<% if @users.empty? %>
  <div class="text-center">該当するユーザーは存在しません</div>
<% else %>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col" class="text-center">ID</th>
      <th scope="col" class="text-center">アイコン</th>
      <th scope="col" class="text-center">Eメール</th>
      <th scope="col" class="text-center">公開設定</th>
      <th scope="col" class="text-center">ユーザーネーム(プロフィールリンク)</th>
      <% if current_user.admin? %>
        <th scope="col" class="text-center">ユーザーを削除</th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <th scope="row" class="align-middle"><%= user.id %></th>
        <% if user.image? %>
          <td class="align-middle"><%= image_tag user.image.url,class: "icon" %></td>
        <% else %>
          <td class="align-middle"><%= image_tag 'default.jpeg', class: "icon" %></td>
        <% end %>
        <td class="align-middle"><%= user.email %></td>
        <td class="align-middle"><%= user.status_i18n %></td>
        <td class="align-middle"><%= link_to user.name, user, class: "font-weight-bold text-center" %></td>
        <% if current_user.admin? %>
          <td class="align-middle"><%= link_to "削除", user, method: :delete, data: { confirm: "このユーザーを削除してもよろしいですか？" } if current_user.admin? && !current_user?(user)  %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<div class="text-center"><%= will_paginate %></div>