<% provide(:title, '全てのユーザー') %>
<h1 class="display-5 text-center pb-5 mt-3">全てのユーザー</h1>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">アイコン</th>
    <th scope="col">Eメール</th>
    <th scope="col">公開設定</th>
    <% if current_user.admin? %>
      <th scope="col">プロフィールリンク(削除)</th>
    <% else %>
      <th scope="col">プロフィールリンク</th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <th scope="row" class="align-middle"><%= user.id %></th>
      <% if user.image? %>
        <td class="align-middle"><%= image_tag user.image.url,class: "icon" %></td>
      <% else %>
        <td class="align-middle"><%= image_tag 'default.jpeg', class: "icon" %></td>
      <% end %>
      <td class="align-middle"><%= user.email %></td>
      <td class="align-middle"><%= user.status_i18n %></td>
      <td class="align-middle"><%= link_to user.name, user %><%= link_to "(削除)", user, method: :delete, data: { confirm: "このユーザーを削除してもよろしいですか？" } if current_user.admin? && !current_user?(user)  %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="text-center"><%= will_paginate %></div>