<% provide(:title, '会員登録') %>
<h1 class="display-5 text-center pb-3 mt-3">会員登録</h1>
<div class="form mb-5">
  <%= form_for(@user, url: signup_path) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <%= f.label :name, "ユーザーネーム" %>
      <%= f.text_field :name, class: "form-control", placeholder: "ユーザーネームを入力してください" %>
    </div>
    <div class="form-group">
      <%= f.label :email, "Eメール" %>
      <%= f.text_field :email, class: "form-control", placeholder: "Eメールを入力してください" %>
    </div>
    <div class="form-group">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: 'form-control',id: "exampleInputPassword1", placeholder: "パスワードを入力してください" %>
      <small id="emailHelp" class="form-text text-muted">パスワードは6文字以上で登録してください</small>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, "パスワード再確認" %>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "パスワードを再入力してください" %>
    </div>
    <div class="form-group">
      <label for="exampleFormControlFile1">アイコン画像</label>
      <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', class: "form-control-file" %>
      <small id="emailHelp" class="form-text text-muted">アップロードされない場合はデフォルトのアイコンで登録されます</small>
    </div>
    <br>
    <%= f.submit "アカウントを新規作成する", class: "btn btn-primary btn-block text-light" %>
  <% end %>
</div>