<% provide(:title, '投稿の編集') %>
<h1 class="h2 text-center pb-3 mt-3 font-italic">投稿の編集</h1>
<div class="form mb-5">
  <%= form_for(@micropost) do |f| %>
    <%= render 'shared/object_error_messages', object: f.object %>
    <div class="form-group">
      <%= f.label :title, "タイトル" %>
      <small class="text-muted text-right mt-3">(今日のトレーニングを一言で！)</small>
      <%= f.text_field :title, class: "form-control post-paper", placeholder: "タイトルを入力してください" %>
    </div>
    <div class="form-group">
      <%= f.label :content, "振り返り" %>
      <small class="text-muted text-right mt-3">(今日のトレーニングを振り返ることで今後に役立てましょう！)</small>
      <%= f.text_area :content, size: "30x10", class: "form-control post-paper", placeholder: "振り返りを入力してください" %>
    </div>
    <div class="form-group">
      <label for="exampleFormControlFile1">画像</label>
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: "form-control-file border-input" %>
    </div>
    <p class="text-center font-weight-bold">今日のトレーニング</p>
    <div class="row mb-3 margin-auto">
      <div class="col-sm-12 margin-auto">
        <div class="card post-paper">
          <div class="card-body margin-auto">
            <div class="form-group">
              <%= f.fields_for :records do |b| %>
                <%= render 'microposts/record_fields', f: b %>
                <div class="links">
                  <%= link_to_add_association '＋トレーニングを追加', f, :records %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="form mt-5">
      <%= f.submit "投稿を更新する", class: "btn btn-primary btn-block text-light" %>
    </div>
  <% end %>
</div>