<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <%= render 'layouts/shim' %>
  <body>
    <%= render 'layouts/navbar' %>
    <div class="container mt-2">
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </div>
    <%= render 'layouts/js' %>
  </body>

</html>
