<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <%= render 'layouts/shim' %>
  <body>
    <div >
      <%= render 'layouts/navbar' %>
      <div class="container mt-2">
        <%= render 'shared/flash_messages' %>
        <%= yield %>
      </div>
      <%= render 'layouts/js' %>
    </div>
  </body>

</html>
